<component name="ArtifactManager">
  <artifact type="war" name="spring5:war">
    <output-path>$PROJECT_DIR$/spring5/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring5</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="sping-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring5:war exploded" />
    </root>
  </artifact>
</component>